*{
    font-family: 'Montserrat', sans-serif; 
}
.body{
    margin: 0px;
    background-color: rgb(66, 126, 128);
    color: rgb(240, 245, 228);
}
p{
    color: black;
}
/* ----------- logo ------------*/
.logoNav{
    width: 110px;
    height: 90px;
    padding-left: 50px;
    margin-top: 15px;
}
.recAzul, .trapAzul{
    background-color: rgb(63,103,151);
    width: 60px;
    height: 35px; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.recCeleste, .trapCeleste{
    background-color: rgb(177,213,228);
    width: 50px;
    height: 25px; 
    border-radius: 5px;
    margin: auto;
}
.trapAzul{
    height: 30px; 
    transform: perspective(30px) rotatex(50deg);
}
.trapCeleste{
    width: 45px;
    height: 20px; 
    margin-top: 7px;
    transform: perspective(90px) rotatex(32deg);
}

/* -------------- Animacion logo ------------------*/

.recAzul, .trapAzul{
    animation: azul 3s ease;
    animation-iteration-count:1;
}
@keyframes azul{
    0%{
    transform: translate(0,-10px);
    opacity:0;}
    30%{
    transform: translate(0,-10px);
    opacity:0;}
    70%{
    transform: translate(0,0);
    opacity:1;}
    100%{
    transform: translate(0,0);
    opacity:1;}
}

.recCeleste, .trapCeleste {
    animation: celeste 5s ease ;
    animation-iteration-count:1 ;
}
@keyframes celeste{
    0%{
    transform: translate(0,-10px);
    opacity:0;}
    30%{
    transform: translate(0,-10px);
    opacity:0;}
    70%{
    transform: translate(0,0);
    opacity:1;}
    100%{
    transform: translate(0,0);
    opacity:1;}
} 

/* ------------------------------------*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    color: rgb(238, 238, 238);
    font-size: 30px;    
    background: url(./assets/imagenes/codigo.jpeg) fixed;
    background-size: cover;
    min-height: 450px;
}
h1{
    background-color: rgb(45, 45, 45);
    text-shadow: 4px 4px black;
}
h2{   
    font-size:40px; 
    text-align: center;
    text-shadow: 2px 2px rgb(21, 68, 84);
}
.titulo{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px; 
}
.menu{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
main{
    padding: 100px 20px;
}
.itemMenu{
    list-style-type: none;  
}
.itemLink{
    background-color: rgb(240, 245, 228);
    color:rgb(21, 68, 84);
    font-weight: 300;
    text-decoration: none;
    box-shadow: 2px 3px rgb(21, 68, 84);
    border-radius: 10px;
    padding: 10px; 
}
.itemMenu:active{
    transform: translate(3px, 2px);
    box-shadow:0px 0px ;
}

.contenido{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.imagenTarjeta{
    width: 100%;
}
.tarjeta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 245, 228);
    width: 370px;
    height: 450px;
    border:rgb(21, 68, 84) 4px solid; 
}
.descripcionTarjeta{
    text-align: center;
    height: 40px;
}
.botonTarjeta{
    background-color: rgb(66, 126, 128);
    color:rgb(240, 245, 228);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;    
    box-shadow: 2px 3px rgb(21, 68, 84);
    width: 35%;
    margin-bottom: 30px;
}
.botonTarjeta:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 29, 29);
    color: white;
    height: 100px;
    padding: 0px 40px;
}
.logo{
    width: 110px;
    height: 100px;
    padding-left: 50px;
    margin-top: 5px;
}
.footerPeH{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 320px;
}
.tituloFooter{
    font-size: 16px;
    align-items: center;
}

/* -------------- Pagina Historia -------------*/

.parrafoHistoria{
    width: 60%;
}
.parrafo3Historia{
    padding-left: 60px;
}

.contenedorHistoria{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}
.tarjetaHistoria{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:80px 70px;
    gap: 25px;
}
/* ---------- sección video -------------*/
.contenedorVideo{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    padding: 70px;
}

.barraControl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    padding: 5px;
}
.botonesControl{
    display: flex;
    gap: 25px;
}
.ventanaVideo{
    background-color: black;
    width: 75%;
    padding: 5px;
}
#play,#pause{
    width: 70px;
    height: 40px;
}

.botonesPlayPause{
    background-color: rgb(240, 245, 228);
    color:rgb(21, 68, 84);
    font-weight: 300;
    text-decoration: none;
    box-shadow: 2px 3px rgb(21, 68, 84);
    border-radius: 10px;
    padding: 10px;
}
.botonesPlayPause:active{
     box-shadow: 0px 0px darkgray;
     transform: translate(3px, 2px);
}
.duracionVideo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
/* -------------- Pagina Juguemos -------------*/

.rompecabezas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajas{
    display: flex;
    flex-direction: row;
    gap: 5px
}
#cajasoltar1,#cajasoltar2,#cajasoltar3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;    
    width: 290px;
    height: 420px;
    border: 2px solid black;
}
#cajaimagenes{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 40px;
}
#imagen1,#imagen2,#imagen3{
    width: 290px;
    height: 420px;
}

.botonReinicio{
    display: flex;
    margin: auto;
    background-color: rgb(240, 245, 228);
    color:rgb(21, 68, 84);
    font-weight: 300;
    text-decoration: none;
    box-shadow: 2px 3px rgb(21, 68, 84);
    border-radius: 10px;
    padding: 10px 100px;
}
.botonReinicio:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}